<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Interstellar Database </title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    {% include 'background.html' %}
    {% include 'navBar.html' %}

    <div class ="body">
            <h2> {{item[2]}} </h2>
            <table>
                <tr>
                    <th>Orbital System</th>
                    <th>Type</th>
                    <th>Habitability</th>
                    <th>Colonizable</th>
                    <th>Mass</th>
                    <th>Radius</th>
                </tr>
                <!-- This is some python jinja2 code. Only existing items will be displayed. -->
                <!-- CelBodyID, OrbSysID, CelBodyName, OrbSysName, Mass, Radius, OrbitalDistance, OrbSysName, CelBodyTypeName, HabName, Colonizable -->
                <tr>
                    <td> <a href=" {{'/systemview/%s'%item[1]}} "> {{item[3]}} </a> </td>
                    <td> {{item[8]}} </td>
                    <td> {{item[9]}} </td>
                    <td> {{item[10]}} </td>
                    <td> {{ ((10**item[4])*10000) // 1 / 10000 }} </td>
                    <td> {{ ((10**item[5])*10000) // 1 / 10000 }} </td>
                </tr>
                <tr>
                    {% if session['userID'] and not saved: %}
                    <td colspan="6" class="tableButton"><a href="/save/{{item[0]}}"><div>Save</div></a></td>
                    {% elif session['userID'] and saved: %}
                    <td colspan="6" class="tableButton"><a href="/unsave/{{item[0]}}"><div>Unsave</div></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="6">Factions:</td>
                </tr>
                <tr>
                    {% if FacLen == 0 %}
                    <td colspan="6">No factions have a presence here.</td>
                    {% else %}
                    {% for faction in factions %}
                    {% if faction[0] % 6 == 0 and faction[0] != 0 %}
                    </tr>
                    <tr>
                    {% endif %} 
                    {% if faction[0] == FacLen - 1 %}
                    <td colspan="{{6-(faction[0]%6)}}" class="tableButton"><a href="/faction/{{faction[1][1]}}"><div>{{faction[1][2]}}</div></a></td>
                    {% else %}
                    <td class="tableButton"><a href="/faction/{{faction[1][1]}}"><div>{{faction[1][2]}}</div></a></td>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </tr>
            </table>
            <!--Table with all Planets here. See other systemview.html for reference-->
    </div>
</body>