<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Interstellar Database </title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<div class="bg-animation">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="stars4"></div>
</div>

<nav class="navbar">
    <div class="navLeft">
        <a href="/">Home</a>
        <a href="#saved">Saved</a>
    </div>
    <div class="navRight">
        <a href="#Account">Account</a>
        <a href="#logout">Log Out</a>
    </div>
</nav>

<div class ="body">
    <body>
        <h2> {Faction}'s Planets </h2>
    </body>
</div>