<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Interstellar Database </title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    {% include 'background.html' %}
    {% include 'navBar.html' %}
    <div class ="body">
        <h2> {{facName}}'s Planets </h2>
            <table>
                <tr>
                    <th>System Name</th>
                    <th>Celesital Body</th>
                    <th>Type</th>
                </tr>
                <!-- This is some python jinja2 code. Only existing items will be displayed. -->
                {% for item in factionInfo %}
                <tr>
                    <td> <a href=" {{'/celbody/%s'%item[0]}} "> {{item[2]}} </a> </td>
                    <td> <a href=" {{'/systemview/%s'%item[1]}} "> {{item[3]}} </a> </td>
                    <td> {{item[4]}} </td>
                </tr>
                {% endfor %}
            </table>
        </body>
            
    </div>
</body>