<nav class="navbar">
    <div class="navLeft">
        <a href="/">Home</a>
        <div class="divider"></div>
        <a href="#saved">Saved</a>
        <div class="divider"></div>
        <a href="/orbsys">All Orbital Systems</a>
    </div>
    <div class="navRight">
        <form action="/search" method="post">
            <input type="text" id="search" name="search" placeholder="Search..." required>
        </form>
      
        {% if True: %}
        <a href="#Account">Account</a>
        <div class="divider"></div>
        <a href="#logout">Log Out</a>
        {% else %}
        <a href="#login">Log In</a>
        {% endif %}
    </div>
</nav>