<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Interstellar Database </title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    {% include 'background.html' %}
    {% include 'navBar.html' %}

    <div class ="body">
            <h2> All Orbital Systems </h2>
            <table>
                <tr>
                    <th>System Name</th>
                    <th>Primary Body</th>
                    <th>Number of Members</th>
                </tr>
                <!-- This is some python jinja2 code. Only existing items will be displayed. -->
                {% for item in items %}
                <tr>
                    <td> <a href=" {{'/systemview/%s'%item[0]}} "> {{item[4]}} </a> </td>
                    <td> <a href=" {{'/celbody/%s'%item[1]}} "> {{item[2]}} </a> </td>
                    <td> {{item[3]}} </td>
                </tr>
                {% endfor %}
            </table>
    </div>
</body>