<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
  {% include 'background.html' %}
  {% include 'navBar.html' %}
  <!-- Show error or success messages if there are any -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Check to see if there are any messages to show -->
    {% if messages %}
      {% for category, message in messages %}
          <p class="alert {{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="login-form" style="padding-top:0.125em;">
    <form action="/registering" method="post">
      <h1 class="center">Register</h1>
      <div style="margin-bottom:1em;">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
      </div>
      <button type="submit" style="width:100%;height:85%;">
        <div class="navbar" style="width:100%;height:85%;">
          <a style="width:87%;height:85%;">Register</a>
        </div>
      </button>
      <div class="navbar" style="height:85%; padding-bottom: 0.25em;">
        <a style="width: 87%; height:65%;" href="/login">Login</button>
      </div>
    </form>
  </div>
</body>
</html>
