<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Interstellar Database </title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    {% include 'background.html' %}
    {% include 'navBar.html' %}

    <div class="body">
            <h2> {{items[0][7]}} System </h2>
            <table>
                <tr>
                    <th>Planet</th>
                    <th>Mass</th>
                    <th>Radius</th>
                    <th>Type</th>
                    <th>Habitability</th>   
                    <th>Colonizable</th>
                    <th>Faction</th>
                </tr>
                <!-- This is some python jinja2 code. Only existing items will be displayed. -->
                {% for item in items %}
                <tr>
                    <td> <a href=" {{'/celbody/%s'%item[0]}} ">{{item[1]}}</a> </td>
                    <td> {{item[2]}} </td>
                    <td> {{item[3]}} </td>
                    <td> {{item[4]}} </td>
                    <td> {{item[5]}} </td>
                    <td> {{item[6]}} </td>
                    <td> {{item[7]}} </td>
                </tr>
                {% endfor %}
            </table>
    </div>
</body>