<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    {% include 'background.html' %}
    {% include 'navBar.html' %}
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class ="body">
    
        <div style="width:80%; text-align: center; float:left;">
            <div class="user-form" style="text-align: center;">
                <h1 class="center">Welcome {{user[1]}}!</h2>
                
                <h2 class="noHorizPad">Email: {{user[2]}}</h2>
                <h2 class="noHorizPad">Faction: {{userFac[0]}}</h2>
                <h2 class="noHorizPad">Clearance Level: {{user[4]}}</h2>
                <h2 class="noHorizPad">Change Password:</h2>
                <form action="/update-password" method="post">
                    <!-- Name -->
                    <label for="currPass" class="noHorizPad">Current Password:</label>
                    <input type="password" id="currPass" name="currPass" required>
                    <br>
                    <!-- Quantity -->
                    <label for="newPass" class="noHorizPad">New Password:</label>
                    <input type="password" id="newPass" name="newPass" required>
                    <br>
                    <!-- Submit Button -->
                    <input style="margin-left: 4em;" type="submit" value="Submit">
                </form>

                <h2>Change Email:</h2>
                <form action="/update-email" method="post">
                    <label for="newEmail" class="noHorizPad">New Email:</label>
                    <input type="text" id="newEmail" name="newEmail" required>
                    <br>
                    <!-- Submit Button -->
                    <input style="margin-left: 4em;" type="submit" value="Submit">
                </form>
            </div>
        </div>

        <table style="float:right;width:15%">
            <tr>
                <th style="text-align: center; width:100%;">Factions</th>
            </tr>
            {% for faction in factions %}
                <tr>
                    <td class="tableButton"><a href="/joinFaction/{{faction[0]}}"><div>{{faction[1]}}</div></a></td>
                </tr>
            {% endfor %}    
        </table>
    </div>
    
</body>
</html>
