<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Interstellar Database </title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    {% include 'background.html' %}
    {% include 'navBar.html' %}

    <div class ="body">
            <h2> Your Saved Planets </h2>
            <table>
                <tr>
                    <th>Celestial Body</th>
                    <th>Orbital System</th>
                    <th>Type</th>
                    <th>Habitability</th>
                    <th>Colonizable</th>
                </tr>
                <!-- This is some python jinja2 code. Only existing items will be displayed. -->
                {% for item in items %}
                <tr>
                    <td> <a href=" {{'/celbody/%s'%item[0]}} "> {{item[2]}} </a> </td>
                    <td> <a href=" {{'/systemview/%s'%item[1]}} "> {{item[3]}} </td>
                    <td> {{item[4]}} </td>
                    <td> {{item[5]}} </td>
                    <td> {{item[6]}} </td>
                </tr>
                {% endfor %}
            </table>
            <!--Table with all Planets here. See other systemview.html for reference-->
    </div>
</body>