body {
    background-color: #181820; /* Dark blueish grey */
    transition: background-color 0.5s ease;
    font-family: Consolas, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #2d2d3f, #282830);
    overflow: auto;
    height: 52px;
    border-bottom: 1px solid #2f2f3f;
    padding: 0;
    margin: 0;
    top: 0;
    z-index: 100;
}

.body {
    background-color: #181820; /* Dark blueish grey */
    transition: background-color 0.5s ease;
    font-family: Consolas, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    Width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: linear-gradient(to bottom, #343440, #444450);
}

.navRight{
    float: right;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

.navLeft{
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccc;
}

a {
    color: #85CCF8;
    text-decoration: none;
}

a:hover {
    color: #B0E0E6;
}

p {
    color: #ccc;

}

button {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    background: none;
}

button:hover {
    color: black;
}

input, textarea, select {
    background-color: #696969;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.5s ease;
}

input::placeholder, textarea::placeholder {
    color: #DCDCDC;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    background-color: #808080;
}

table {
    width: 100%;
    margin: 0;
    border:none;
    border-collapse: separate;
    border-spacing: 0;
}
th, td {
    padding: 15px;
    text-align: left;
    color: #ccc;
}

tr:nth-child(even) {
    border-color: #2f2f3f;
    background-color: #3f3f4f;
}

th {
    border-color: #2f2f3f;
    background-color: #2d2d3b;
    background: linear-gradient(to bottom, #282830 50%,#2d2d3f);
    border: 2px solid #1a1a26;
    border-right: none;
    position: sticky;
    position: -webkit-sticky;
    z-index: 3;
    top: 0;
}

.body table th {
    top: 52px;
}

tr:nth-child(odd) {
    border-color: #1a1a26;
    background-color: #2d2d3b;
}

tr:nth-child(even) td {
    border-left: 2px solid #2f2f3f;
}
tr:nth-child(odd) td {
    border-left: 2px solid #1a1a26;
}
table td:first-child, table th:first-child {
    border-left: none;
}

.alert {
    padding: 10px; /* Padding for spacing inside the message box */
    margin-bottom: 15px; /* Margin at the bottom to create space between the message and other content */
    border-radius: 4px; /* Rounded corners for a softer look */
}

.alert.success {
    color: #3c763d;
    border: 1px solid #3c763d;
    background-color: #dff0d8;
}

.alert.error {
    color: red;
    border: 1px solid red;
    background-color: #ffdede;
}

.alert.info {
    color: rgb(77, 103, 190);
    border: 1px solid rgb(77, 103, 190);
    background-color: #d0e1f5;
}